body{
  font-family: "JetBrains Mono",monospace;

}



.heading{
    /* font-size: 10vh; */
    padding-top: 8vh;
    /* color: #5468ff; */
    text-align: center;
    font-family: "JetBrains Mono",monospace;

}

.navbar{
    font-size: 4vh;
    color: #5468ff;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 192, 203, 0));
    position: fixed;
    width: 100%;
    margin-top: -22px;
    margin-left: -8px;

    z-index: 1;
}

.row{
    display: flex;
    justify-content: center;
}

.left{
    padding: 1.5vh;
    padding-right: 5vh;
    padding-left: 5vh;

}

.right{
    padding: 1.5vh;
    padding-left: 5vh;
    padding-right: 5vh;

}

.employee{
    border: 0.5vh solid black;
    height: 60vh;
    width: 25%;
    background-color: black;
    

}


.employee-photo{
    /* border: solid 2px red; */
    height: 60vh;
    /* width: 25%; */
    



}

.photo{
    height: 60vh;
    /* width: 30vh; */
    width: 100%;
    object-fit: cover;
    object-position: center;
}


/* .employee:hover .photo{
    scale: 1.2;
} */

.employee-testimony{
    display: none;
}

.employee:hover{
    /* border: 0.5vh solid white; */
    /* box-shadow: 0 0 10px 5px #48abe0; */
    box-shadow: 0 0 100px 46px #c2eaffdc;
    z-index: 1;
}

.employee:hover .employee-testimony{
    padding: 4vh;
    display: block;
    /* border: solid 2px blue; */
    background-color: rgba(246, 246, 246, 0.806);
    position: relative;
    height: 52vh;
    bottom: 60vh;
    cursor: pointer;
    /* width: 25%; */
    transition: ease-in-out 2s;
    

    /* border: 0.5vh solid white; */

}

.name{
    display: block;
    padding: 3vh;
    /* border: solid 2px blue; */
    /* background-color: rgba(246, 246, 246, 0.806); */
    position: relative;
    cursor: pointer;
    /* width: 25%; */
    /* transition: ease-in-out 2s; */
    

    /* border: 0.5vh solid white; */

}


/* CSS */

.apply {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.apply:active:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.apply:active:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.apply:active:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.container{
    /* width: 100%; */
    width: auto;
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: column;
    
    /* padding-left: 25%; */
    justify-content: center;
    text-align: justify;
    /* padding-right: 25%; */

    /* justify-content: space-between; */
}